@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

main {
  min-width: 375px;
  background-color: #f4f5f7;
}

body {
  margin: 0;
}

header {
  background-color: #fff;
}

.logo {
  animation: slideIn 500ms ease-out 10ms alternate;
}

@keyframes slideIn {
  from {
    margin-top: -10%;
  }
}

.logo a {
  color: #6070ff;
  text-decoration: none;
  line-height: 20px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-family: Poppins, sans-serif;
}

.pop-up-window {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  overflow: auto;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding-top: 20px;
}

.languages ul {
  padding-bottom: 14px;
}

.pop-up-details .languages ul {
  flex-wrap: wrap;
}

#pop-up-close-button {
  cursor: pointer;
}

.window-blur {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.window-container {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: relative;
  padding: 50px 20px;
  overflow: auto;
}

.window-body {
  background-color: #fff;
  padding: 18px 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  max-width: 1108px;
  margin: auto;
}

hr {
  border-bottom: 1px solid #dfe1e6;
  margin-top: 23px;
  margin-bottom: 23px;
  width: 100%;
}

.pop-up-window hr {
  width: 100%;
  border: 1px solid #ebecf0;
}

.pop-up-header {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.pop-up-header h2 {
  color: #172b4d;
}

.pop-up-sub-header {
  display: flex;
  align-items: baseline;
  margin-top: 14px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
  margin: 0 12px;
}

.pop-up-body {
  margin-top: 20px;
}

.pop-up-body #pop-up-image-cover {
  width: 100%;
}

.pop-up-button-wrapper {
  display: flex;
  justify-content: space-around;
}

.pop-up-buttons {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  width: 146px;
  height: 48px;
  padding: 12px 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.git-button {
  padding: 12px;
}

.desk {
  display: none;
}

.desk a {
  color: #344563;
  text-decoration: none;
  transition: all 500ms ease-out 10ms;
}

.desk a:hover {
  color: #2230d2;
}

h1 {
  width: 327px;
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-style: normal;
  display: flex;
  align-items: center;
}

h4 {
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  padding-top: 12px;
  font-family: Poppins, sans-serif;
}

p {
  padding-top: 12px;
  color: #172b4d;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-family: Poppins, sans-serif;
}

.intro {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 718px;
  background-image: url(images/header-shapes\ mobile.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  background-color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
}

ul li {
  list-style: none;
}

.socials {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.twitter-logo {
  width: 19.99px;
  height: 19.96px;
}

.linkedIn-logo {
  width: 20px;
  height: 20px;
}

.medium-logo {
  width: 20px;
  height: 16px;
}

.github-logo {
  width: 17.99px;
  height: 20px;
}

.vertor-logo {
  width: 14.17px;
  height: 20px;
}

.work-section {
  min-width: 375px;
  padding-bottom: 88px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f4f5f7;
  display: grid;
  gap: 88px;
  align-items: center;
  justify-items: center;
}

.work-section .work-section-button {
  padding-top: 24px;
  padding-bottom: 20px;
}

.first-work-section {
  padding-top: 114px;
}

.page-container {
  background-color: #fff;
  padding: 12px;
  padding-top: 16px;
  border-radius: 16px;
  display: grid;
  justify-items: center;
  align-items: start;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
}

.details {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.details p {
  width: 295px;
  height: 76px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 78px;
}

.can {
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.back {
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style: disc;
}

.year {
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style-type: disc;
}

.languages ul li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
}

button {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  background: transparent;
  border: 1px solid #396df2;
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 16px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition: 0.5s;
}

button:active {
  color: #fff;
  background: #2230d2;
}

button:disabled {
  color: #5e6c84;
  background: transparent;
  border: 1px solid #c1c7d0;
}

.about-myself {
  min-width: 375px;
  padding-bottom: 114px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #fff;
  border-top-right-radius: 100px;
}

.about-myself h1 {
  width: 200px;
}

.about-myself button {
  padding: 12px;
  gap: 10px;
}

.about-myself .dropdown-title img {
  transform: rotate(-90deg);
}

.about-myself .get-my-resume-button {
  padding-top: 34px;
}

h3 {
  font-style: poppins, sans-serif;
  font-weight: 500;
  color: black;
  font-size: 20px;
  line-height: 24px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding-top: 24px;
}

.vivo {
  background: #f7f7f9;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.vivo-img {
  padding-left: 12px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.lightweight {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-myself .socials h4 {
  padding-top: 22px;
  padding-bottom: 12px;
}

.footer-background {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  background-color: #6070ff;
  background-image: url("../images/contact-form-bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: right 30px;
  border-top-left-radius: 100px;
  padding-top: 103px;
}

.form-one {
  margin-bottom: 20px;
}

.footer input,
textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  padding: 15px 16px;
  color: #172b4d;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.footer textarea {
  height: 170px;
}

.form-one ::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.footer-heading h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  line-height: 52px;
}

.footer-heading p {
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.footer .cont {
  padding-bottom: 45px;
}

.footer-heading {
  text-align: center;
  padding-bottom: 45px;
}

@media screen and (min-width: 768px) {
  .pop-up-body-contents {
    display: flex;
    gap: 20px;
  }

  .pop-up-button-wrapper,
  .pop-up-details .languages ul {
    gap: 10px;
  }

  .window-body {
    bottom: auto;
  }

  .modal-img-wrapper img {
    height: 586px;
  }

  .doti {
    display: flex;
  }

  .doti p {
    width: 65%;
  }

  .logi {
    width: 35%;
  }

  #pop-up-image-cover {
    object-fit: cover;
  }

  .intro {
    background-image: url(images/Header\ bg.svg);
    background-repeat: no-repeat;
    padding-right: 260px;
    padding-left: 260px;
    overflow: hidden;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
  }

  .intro h1 {
    width: 50%;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    padding-bottom: 12px;
  }

  .intro p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .hamburger_menu {
    display: none;
  }

  .desk {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-left: 155px;
    padding-right: 155px;
  }

  .page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px;
    gap: 46px;
  }

  .img-wrap img {
    height: 448px;
  }

  .work-section .img-wrap {
    width: 100%;
  }

  .work-section .img-wrap img {
    width: 100%;
    height: auto;
    transition: width 500ms, height 500ms ease-out 10ms;
  }

  .work-section .img-wrap img:hover {
    width: 103%;
    height: 103%;
  }

  .work-section .page-container:nth-of-type(even) .img-wrap {
    order: 2;
  }

  h2 {
    font-size: 40px;
    line-height: 52px;

    /* padding-top: 28px; */
  }

  .details p {
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .details .can {
    font-size: 18px;
    line-height: 24px;
  }

  .details .back {
    font-size: 18px;
    line-height: 24px;
  }

  .details .year {
    font-size: 18px;
    line-height: 24px;
  }

  .work-section {
    width: 100%;
    padding-left: 142px;
    padding-right: 142px;
  }

  .about-myself {
    display: flex;
    flex-direction: row;
    gap: 37px;
    align-items: baseline;
    padding: 142px;
  }

  .about-myself h1 {
    width: auto;
  }

  .asu,
  .dropdown-items {
    flex: 1 1;
  }

  .lightweight {
    display: flex;
    flex-direction: row;
  }

  .title {
    display: flex;
    flex-direction: column;
  }

  .dropdown-title,
  .dropdown-title-open {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .vivo {
    display: flex;
    flex-direction: column;
    flex-basis: 122px;
    align-items: flex-start;
  }

  .vivo h5 {
    padding-left: 12px;
  }

  .footer-background {
    display: flex;
    align-items: center;
    justify-items: center;
    background-image: url(images/contact\ form\ background\ shapes.svg);
  }

  .footer-heading p {
    width: 569px;
  }

  form {
    width: 447px;
    padding-bottom: 127px;
    align-self: center;
  }

  .footer input,
  textarea {
    border-radius: 2px;
  }

  .footer-background .get-my-resume-button {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}

#logi {
  color: red;
  padding-bottom: 4px;
}

@media only screen and (max-width: 768px) {
  .desk {
    display: block;
  }

  #hamburger-menu {
    z-index: 2;
    position: relative;
    padding-left: 240px;
  }

  header nav ul.menu-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(96, 112, 255, 0.93);
    list-style: none;
    position: absolute;
    top: 0;
    bottom: 0;
    max-height: 100vh;
    left: -100;
    right: 400px;
    z-index: 0;
    transition: all 1.2s ease;
  }

  header nav ul.menu-bar.active {
    left: 0;
    right: 0;
  }

  header nav ul.menu-bar li {
    font-size: 2rem;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    padding-left: 28px;
    padding-bottom: 20px;
  }

  header nav ul.menu-bar li:nth-child(1) {
    margin-top: 106px;
  }

  header nav ul.menu-bar li a {
    color: #fff;
  }
}

